.mod-takeover {
    width: 100%;
    top: 0;
    position: fixed;
    background: #FAF9F5;
}

.mod-takeover.initial .content {
    display: none;
}
.mod-takeover.pencil .content {
    display: block;
    margin: auto;
    max-width: 980px;
}
.mod-takeover .frame {
    margin: 20px 0;
}