/**
 * Promtional Modules common styles
 */
.promo {
    border: 1px solid #CDCDCD;
    position: relative;
    margin: 12px 0 0 12px;
    width: 300px;

    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;

    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.promo .headline {
    font-weight: bold;
    color: #333;
    font-size: 18px;
}
.promo .typeline {
    font-weight: bold;
    color: #8fc73d;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.promo .text {
    font-weight: normal;
    color: #777777;
    font-size: 13px;
}
.promo .typeline1,
.promo .typeline2 {
    font-weight: bold;
    color: #8fc73d;
    font-size: 18px;
    text-transform: uppercase;
}
.promo .typeline2 {
    font-size: 32px;
}
.promo button {
    font-weight: bold;
    color: #fff;
    font-size: 12px;
    padding: 3px 4px;
}
/* Super size */
.promo.size-super {
    height: 250px;
    width: 300px;
}
.promo.size-super img {
    border-radius: 6px 6px 0 0;
    height: 156px;
    width: 300px;
}
.promo.size-super .bottom {
    padding: 12px;
}
/* Double size */
.promo.size-double {
    height: 250px;
    width: 620px;
}
.promo.size-double img {
    border-radius: 6px 6px 0 0;
    height: 156px;
    width: 620px;
}
.promo.size-double .bottom {
    padding: 20px;
}
.promo.size-double .bottom .left,
.promo.size-double .bottom .right {
    display: inline-block;
    vertical-align: top;
}
.promo.size-double .bottom .left {
    margin-right: 30px;
}
/* Shortstack size */
.promo.size-shortstack {
    height: 115px;
    width: 620px;
}
.promo.size-shortstack img {
    border-radius: 6px 0 0 6px;
    height: 115px;
    width: 300px;
}
.promo.size-shortstack .right {
    padding: 20px;
}
.promo.size-shortstack .left,
.promo.size-shortstack .right {
    display: inline-block;
    vertical-align: top;
}
.promo.size-shortstack .right {
    padding: 20px;
}
/* Grid size */
.promo.size-grid {
    height: 160px;
    width: 300px;
}
.promo.size-grid img {
    border-radius: 6px 6px 0 0;
    width: 300px;
    height: 100px;
}
.promo.size-grid .bottom {
    padding: 10px 15px 15px 15px;
}
.promo.size-double .headline {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #333333;
    font-size: 17px;
}
.promo.size-double .text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777777;
    font-size: 15px;
}
.promo.size-grid .typeline {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #8fc73d;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 7px;
}
.promo.size-grid .headline {
    font-weight: bold;
    color: #333;
    font-size: 16px;
}