.mod-featuredtoday {
    border: 1px solid #CDCDCD;
    position: relative;
    margin: 12px 6px 6px 12px;
    width: 300px;

    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;

    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
/* size-3: ModuleSize_Long */
.mod-featuredtoday.size-3 {
    height: 115px;
    width: 620px;
}
.mod-featuredtoday.size-3 .left,
.mod-featuredtoday.size-3 .right {
    display: inline-block;
    vertical-align: top;
}
.mod-featuredtoday.size-3 .right {
    padding: 20px;
}
.mod-featuredtoday.size-3 .img img {
    border-radius: 6px 0 0 6px;
    height: 115px;
    width: 300px;
}
/* size-4: ModuleSize_Grid */
.mod-featuredtoday.size-4 {
    height: 160px;
    width: 300px;
}
.mod-featuredtoday.size-4 .top img {
    border-radius: 6px 6px 0 0;
    width: 300px;
    height: 100px;
}
.mod-featuredtoday.size-4 .bottom {
    padding: 10px 15px 15px;
    position: relative;
}
