/**
 * http://purecssmenu.com/
 */
ul.cssMenu {
	display:block;
	zoom:1;
	float: left;
}
ul.cssMenu ul.cssMenu-sub {
	display:none;
}
ul.cssMenu li.cssMenui0:hover>ul.cssMenu-sub,
ul.cssMenu li.cssMenu-items:hover>ul.cssMenu-sub {
	display:block;
}
ul.cssMenu ul.cssMenu-sub {
	position: absolute;
	left:-1px;
	top:98%;
}
ul.cssMenu ul.cssMenu-sub ul.cssMenu-sub {
	position: absolute;
	left:98%;
	top:0;
}
ul.cssMenu,
ul.cssMenu ul.cssMenu-sub {
	margin:0px;
	list-style:none;
	padding:0px 1px 1px 0px;
	background-color:#dddad5;
}
ul.cssMenu li.cssMenu-item,
ul.cssMenu li.cssMenu-items {
	display:block;
	margin:1px 0px 0px 1px;
	font-size:0px;
	width: 100%;

	border-bottom: 1px solid #CCCBCB;
    -webkit-box-shadow: 0px 1px 1px #fff;
	   -moz-box-shadow: 0px 1px 1px #fff;
            box-shadow: 0px 1px 1px #fff;
}
ul.cssMenu a:active, 
ul.cssMenu a:focus {
	outline-style: none;
}
ul.cssMenu a {
	display: block;
	vertical-align: middle;
	text-align:left;
	text-decoration: none;
	padding:5px;
	font: bold 11px "helvetica neue";
	color: #666;
	cursor:pointer;
}
ul.cssMenu .cssMenu-title span {
	overflow:hidden;
}
ul.cssMenu li.cssMenui0,
ul.cssMenu li.cssMenu-items {
	float:left;
}
ul.cssMenu ul.cssMenu-sub li.cssMenu-item {
	float:none;
}
ul.cssMenu ul.cssMenu-sub a {
	text-align:left;
	white-space:nowrap;
	padding-left: 15px;
	padding-right: 15px;
}
ul.cssMenu li.cssMenui0,
ul.cssMenu li.cssMenu-item:hover,
ul.cssMenu li.cssMenu-items:hover {
	position:relative;
}
ul.cssMenu li.cssMenu-item:hover > a,
ul.cssMenu li.cssMenu-items:hover > a {
	font: bold 11px "helvetica neue";
	text-decoration:none;
}
ul.cssMenu li.cssMenu-item a:hover,
ul.cssMenu li.cssMenu-items a:hover {
	position:relative;
	font: bold 11px "helvetica neue";
	text-decoration: underline;
}
ul.cssMenu li.cssMenu-title span{
	display:block;
}

/******************** My customization ****************/
ul.cssMenu li.cssMenui0 {
	padding: 13px 12px 13px 12px;
	border-right: 1px solid #CCCBCB;
    box-shadow: 1px 0 #FFFFFF;
}

ul.cssMenu li.cssMenui0 a span {
	text-transform: uppercase;
}
ul.cssMenu li.cssMenu-items a span {
	text-transform: none;
}

ul.cssMenu .triangle-down {
	bottom: 1px;
}
ul.cssMenu .triangle-left {
	border-width: 4px 6px;
}


ul.cssMenu li.cssMenui0>ul.cssMenu-sub {
	display: block;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 1s 0.25s;
         -o-transition: height 1s 0.25s;
            transition: height 1s 0.25s;
}

