.mod-footer .sitemap {
    float: left;
    margin-top: 10px;
}
.mod-footer .endorsements {
    float: right;
}
.mod-footer .sitemap a {
    color: #1C9AD5;
    font-size: 11px;
    font-weight: bold;
    margin-left: 15px;
    text-decoration: none;
}
.mod-footer .truste {
    background-position: 0 -105px;
    height: 37px;
    width: 120px;
}
.mod-footer .bbb {
    background-position: 0 -71px;
    height: 34px;
    width: 90px;
}
.mod-footer .endorse {
    display: block;
    margin-left: 0.5em;
}

.mod-footer .promos li {
    width: 24%;
    text-align: left;
}
.mod-footer .promos h3 {
    color: #515151;
    font-weight: bold;
    margin-bottom: 5px;
}
.mod-footer .promos p {
    color: #515048;
    margin-bottom: 12px;
}
.mod-footer .promos input,
.mod-footer .promos button {
    display: block;
    margin-bottom: 8px;
}
.mod-footer .promos button {
    font-size: 11px;
    border: 1px solid #999999;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 4px 9px 3px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Proxima',Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

    background: #999999;
    background: -moz-linear-gradient(top, #ffffff 0%, #c8c8c8 2%, #999999 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(2%,#c8c8c8), color-stop(100%,#999999));
    background: -webkit-linear-gradient(top, #ffffff 0%,#c8c8c8 2%,#999999 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#c8c8c8 2%,#999999 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#c8c8c8 2%,#999999 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#c8c8c8 2%,#999999 100%);
}