.mod-leavebehind {
	background: #e8e7e3;
	/*display: none;*/
    height: 0;
    overflow: hidden;

    -webkit-transition: height 200ms; /* Safari and Chrome */
       -moz-transition: height 200ms;
         -o-transition: height 200ms; /* Opera */
            transition: height 200ms;
}
.fixed-header .pushed .mod-leavebehind {
	height: 100px;
}
.mod-leavebehind .frame {
    margin: 5px auto;
    max-width: 980px;
}

