.mod-leavebehind {
	background: #e8e7e3;
	/*display: none;*/
    height: 0;
    overflow: hidden;

    -webkit-transition: height 1s; /* Safari and Chrome */
       -moz-transition: height 2s;  
         -o-transition: height 1s; /* Opera */
            transition: height 1s;
}
.fixed-header .mod-leavebehind {
	height: 134px;
}
/*.mod-leavebehind.expanded {
    height: 134px;
}*/
.mod-leavebehind .frame {
    margin: 20px auto;
    max-width: 980px;
}

