.mod-couponcarrier {
    margin: 15px;
}
.mod-couponcarrier.is-active-user .active-user {
    display: inline-block;
}
.mod-couponcarrier.is-active-user .new-user {
    display: none;
}
.mod-couponcarrier.is-new-user .active-user {
    display: none;
}
.mod-couponcarrier.is-new-user .new-user {
    display: inline-block;
}
.mod-couponcarrier .progress h3 {
    position: absolute;
    right: 11px;
    top: 4px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #363636;
}

.mod-couponcarrier .progress {
    position: relative;
}
.mod-couponcarrier .bar {
    background-color: #CCCBC6;
    border-radius: 11px;
    box-shadow: 0 1px 3px rgba(100, 100, 100, 0.5) inset;
    height: 22px;
    padding: 2px 0 0 2px;
    width: 300px;
}
.mod-couponcarrier .savings-bar {
    background: #63b352;
    background: -moz-linear-gradient(top, #ffffff 0%, #8ac680 2%, #63b352 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(2%,#8ac680), color-stop(100%,#63b352));
    background: -webkit-linear-gradient(top, #ffffff 0%,#8ac680 2%,#63b352 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#8ac680 2%,#63b352 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#8ac680 2%,#63b352 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#8ac680 2%,#63b352 100%);

    border-radius: 11px;
    color: #FFFFFF;
    max-width: 285px;
    min-width: 15px;
    padding: 3px 6px 1px 7px;
    text-align: right;
    width: 0;
}
.mod-couponcarrier .savings-bar.clipped-none {
    min-width: 15px;
}
.mod-couponcarrier .welcome {
    font-size: 13px;
    line-height: 27px;
}
.mod-couponcarrier .welcome .text {
    font-size: 115.4%;
    color: #333;
}
.mod-couponcarrier .welcome .headline {
    font-family: RockSaltRegular;
    text-transform: lowercase;
    color: #08b4df;
}
.mod-couponcarrier .welcome em {
    font-weight: bold;
    text-transform: uppercase;
}
