.mod-footer {
    margin-top: 10px;
}
.mod-footer .endorsements {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.mod-footer .truste {
    background-position: 0 -133px;
    height: 37px;
    width: 90px;
}
.mod-footer .bbb {
    background-position: 0 -84px;
    height: 34px;
    width: 90px;
}
.mod-footer .endorse {
    display: block;
    margin-left: 0.5em;
}
.mod-footer .ft {
    background: #faf9f5;
    padding-top: 8px;
    padding-left: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888888;
    font-size: 12px;
}
.mod-footer .ft a {
    color: #888888;
}
