.mod-header {
    background: none repeat scroll 0 0 #FAF9F5;
    height: 72px;
    margin: auto;
    max-width: 980px;
    overflow: visible;
    position: relative;
}
.mod-header .navbar {
    position: absolute;
    right: 0;
    top: 25px;
}

.mod-header .tab-container,
.mod-header .tablist,
.mod-header .user-dropdown,
.mod-header .fblike {
    display: inline-block;
}
.mod-header .navbar .tab {
    margin-left: 25px;
}
.mod-header .navbar .tab.last {
    margin-right: 25px;
}
.mod-header .navbar .tab a {
    text-decoration: none;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #A3A2A0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.mod-header .navbar .tab.selected a {
    color: #0AA0DF;
}
.mod-header .navbar .tab button.signup {
    font-size: 12px;
    padding: 6px 13px;
    text-transform: uppercase;
    cursor: pointer;
}
.mod-header .user-dropdown {
    vertical-align: top;
    position: relative;
    top: -9px;
    margin-left: 12px;
    margin-right: 5px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    border: solid 1px #009bde;
    box-shadow: 0 1px 5px rgba(0,0,0,.5);
    background: #59bbe5;
    background: -moz-linear-gradient(top, #59bbe5 0%, #139eda 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59bbe5), color-stop(100%,#139eda));
    background: -webkit-linear-gradient(top, #59bbe5 0%,#139eda 100%);
    width: auto;
}
.mod-header .user-dropdown li {
    border-bottom: 1px solid #058AC3;
    border-top: 1px solid #80CBEB;
    padding: 9px 12px;
}
.mod-header .user-dropdown li:hover {
    background: #058ac4;
}
.mod-header .user-dropdown li.first:hover {
    background: transparent;
}
.mod-header .user-dropdown li,
.mod-header .user-dropdown li a{
    color: #A3A2A0;
    text-decoration: none;
}
.mod-header .user-dropdown li.first {
    text-transform: uppercase;
}
.mod-header .user-dropdown.closed {
    background: none;
    border: none;
    box-shadow: none;
    position: static;
    vertical-align: inherit;
    margin-left: 25px;
    margin-right: 18px;
}
.mod-header .user-dropdown.closed li {
    display: none;

}
.mod-header .user-dropdown.closed li.first {
    display: block;
    border: none;
    padding: 0;
}
.mod-header .user-dropdown .triangle-down {
    border-color: #0AA0DF transparent transparent transparent;
    bottom: 2px;
    margin-left: 7px;
}