
.mod-categories {
    border-top: 1px solid #FDFDF5;
}
.mod-categories .teasers {
    display: inline;
    margin-right: 18px;
    vertical-align: middle;
    margin-top: 10px;
}
.mod-categories .teasers p {
    color: #6C6E6D;
    display: inline;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline;
    margin-right: 18px;
}
.mod-categories .teasers ul li {
    display: inline;
}
.mod-categories .teasers .teaser-list {
    display: inline;
    width: auto;
}
.mod-categories .teasers .teaser-list li a {
    font-size: 92.3%;
    margin-left: 4px;
    padding-left: 8px;
}
.mod-categories .teasers .teaser-list li.first a {
    margin-left: 0;
    padding-left: 0;
}
.mod-categories .show-more {
    color: #0F94D2;
    cursor: pointer;
    display: inline;
    font-size: 92.3%;
    line-height: 1.33;
    padding-left: 2px;
    font-weight: bold;
}
.mod-categories .show-more:hover {
    text-decoration: underline;
}
.mod-categories .bd ul.show-less {
    text-align:right;
    cursor: pointer;
    width: auto;
}
.mod-categories .show-more .triangle-down {
    border-color: #0F94D2 transparent transparent transparent;
    border-width: 4px;
    bottom: 1px;
    left: 3px;
}
.mod-categories .show-less .triangle-up {
    border-color: transparent transparent #0F94D2 transparent;
    border-width: 4px;
    bottom: 6px;
    left: 3px;
}
.mod-categories .bd ul {
    text-align: left;
    width: 22.5%;
}
.mod-categories .bd ul li {
    margin: 8px 0;
}
.mod-categories .all-categories ul {
    float: left;
}
.mod-categories .bd li a {
    color: #0F94D2;
    font-size: 92.3%;
    text-decoration: none;
}
.mod-categories .bd li a .title {
    font-weight: bold;
}
.mod-categories .bd li a:hover {
    text-decoration: underline;
}
.mod-categories .bd li.selected a {
    color: #333333;
    font-weight: bold;
}
.mod-categories.categories-show-teasers .all-categories {
    display: none;
}
.mod-categories.categories-show-teasers .teasers {
    display: block;
}
.mod-categories.categories-no-teasers .all-categories {
    display: block;
}
.mod-categories.categories-no-teasers .teasers {
    display: none;
}