.mod-featuredtoday-dialog .typeline {
    font-weight: bold;
    color: #8fc73d;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mod-featuredtoday-dialog .headline {
    font-weight: bold;
    color: #333;
    font-size: 18px;
}

.mod-featuredtoday-dialog .row {
    width: 660px;
}

.mod-featuredtoday-dialog .buttons button {
    padding: 5px 10px 6px;
    cursor: pointer;
    margin-right: 13px;
}

.mod-featuredtoday-dialog .buttons a {
    color: #0EA0E0;
    text-decoration: none;
}