.mod-gallery .mrec,
.mod-gallery .house-ad {
    height: 250px;
    width: 300px;
    margin: 12px 6px 6px 12px;
}







.mod-gallery .tools {
    background: #3597D3;
    padding: 6px 12px;

    position: fixed;
    bottom: 0;
    right: 0;

    /*tools protrude to the right, overlapping with fix-positioned ads. need z-index to bring tools on the top.*/
    z-index: 1;

    -webkit-border-top-left-radius: 5px;
   -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
       -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
           border-top-right-radius: 5px;
}
.mod-gallery .tools.inactive {
    background-color: rgba(53, 151, 211, 0.75);
}
.mod-gallery .selectall {
    border-right: 1px solid #FFF;
    display: inline;
    padding-right: 12px;
}
.mod-gallery .selectall label {
    color: #FFF;
    font-weight: normal;
    margin-left: 4px;
}
.mod-gallery .tools .goto-top {
    color: #FFF;
    padding-left: 12px;
    cursor: pointer;
    text-decoration: none;
    font-size: 92.3%;
}
.mod-gallery .goto-top .triangle-top {
    margin-right: 8px;
    border-color: transparent transparent white transparent;
    bottom: 9px;
    border-width: 9px 6px;
}
.mod-gallery .loading-indicator,
.mod-gallery .page-break {
    clear: both;
    text-align: center;
}
.mod-gallery .loading-indicator p,
.mod-gallery .page-break {
    font-size: 92.3%;
    font-weight: bold;
    color: #0D92df;
}
.mod-gallery .loading-indicator p {
    padding-top: 2em;
    padding-bottom: 1em;
}
.mod-gallery .page-break {
    padding-top: 2em;
    padding-bottom: 0.5em;
}
/**
 * "Show more" button
 */
.mod-gallery .more {
    text-align: center;
}
.mod-gallery .more button {
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    margin: 12px;
    padding: 9px;
    width: 98%;




}
.mod-gallery .more button:hover {
}