/* size-3: ModuleSize_Long */
.mod-supersaver.size-3 .image {
    width: 250px;
    height: 120px;
}
/* size-4: ModuleSize_Grid */
.mod-supersaver.size-4 .image {
    width: 250px;
    height: 120px;
}