.mod-gallery {
    /*position: relative;*/ /* needed for absoluted positioned .goto-top */
}
.mod-gallery .pod {
    height: 138px;
    width: 250px;
    background-color: #7ABA4C;
    float: left;
    margin: 5px;
}
.mod-gallery .more {
    clear: both;
    display: block;
}
.mod-gallery .goto-top {
    position: absolute;
    bottom: 0;
    right: 0;
}
.mod-gallery .goto-top.stalker {
    position: fixed;
    bottom: 0;
}