.mod-printstatus  {
    width: 50%;
    margin: auto;
}
.mod-printstatus .top {
    margin-top: 40px;
}
.mod-printstatus .middle.takeover {
    margin: 30px;
    text-align: center;
}
.mod-printstatus .bottom {
    margin-bottom: 100px;
}
.mod-printstatus h1 {
    color: #66BA2B;
    font-size: 254%;
    font-weight: normal;
    line-height: 1.1;

}

.mod-printstatus .top p {
    color: #555555;
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 0;
    margin-top: 5px;
}

.mod-printstatus .middle .action {
    color: #555555;
    font-size: 18px;
    margin-bottom: 0.5em;
    margin-top: 20px;
}
.mod-printstatus .bottom .information {
    color: #555555;
    margin-top: 0.5em;
}