.mod-stalker {
    width: 100%;
    border-bottom: 1px solid #CCCBCB;
    box-shadow: 1px 0 #FFFFFF;

    margin-top: 336px;
}
.mod-stalker .discovery-bar {
    background-color: #dddad5;
}

.mod-stalker .discovery-bar .content {
    margin: auto;
    max-width: 980px;
    position: relative;
}
.mod-stalker .module {
    border-right: 1px solid #CCCBCB;
    box-shadow: 1px 0 #FFFFFF;
    float: left;
    height: 50px;
}
.mod-stalker .module.last {
    border:none;
    padding-right: 0;
    box-shadow: none;
}
.mod-stalker .module:first-child {
    padding-left: 0;
}
.fixed-header .mod-stalker {
    position: fixed;
    z-index: 1; /* above gallery */
    top: 0;
    margin-top: 0;
}
.toolbarBodyShift.fixed-header .mod-stalker {
    top: 34px; /* toolbar height */
}
.mod-stalker .discovery-bar .logo-container,
.mod-stalker .discovery-bar .cssMenu {
    float: left;
}


.mod-stalker .logo-container {
    height: 50px;
    width: 55px;
}

.mod-stalker .logo {
    opacity: 0;
    /*position: absolute;
    top: -50px;

    -webkit-transition: top 300ms;
       -moz-transition: top 300ms;
         -o-transition: top 300ms;
            transition: top 300ms;*/
}
.mod-stalker .logo.show {
    /*top: 0;*/
}

.mod-stalker .discovery-bar .cssMenu {
    margin-left: -55px;
}
.fixed-header .mod-stalker .discovery-bar .cssMenu {
    margin-left: 0;
}