.mod-stalker {
    
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);*/
    width: 100%;
    border-bottom: 1px solid #CCCBCB;
    box-shadow: 1px 0 #FFFFFF;
}
.mod-stalker .discovery-bar {
    background-color: #dddad5;
}

.mod-stalker .discovery-bar .content {
    margin: auto;
    max-width: 980px;
    position: relative;
}
.mod-stalker .module {
    border-right: 1px solid #CCCBCB;
    box-shadow: 1px 0 #FFFFFF;
    float: left;
    height: 50px;
}
.mod-stalker .module.last {
    border:none;
    padding-right: 0;
    box-shadow: none;
}
.mod-stalker .module:first-child {
    padding-left: 0;
}
.fixed-header .mod-stalker {
    position: fixed;
    z-index: 2; /* above gallery */
    top: 0;
}
.toolbarBodyShift.fixed-header .mod-stalker {
    top: 34px; /* toolbar height */
}
.mod-stalker .discovery-bar .logo,
.mod-stalker .discovery-bar .cssMenu {
    float: left;
}


.mod-stalker .logo-container {
    height: 50px;
    width: 55px;
    overflow: hidden;
    position: absolute;
}
.mod-stalker .cssMenu {
    margin-left: 0;

    -webkit-transition: margin-left 0.5s linear 0;
}
.mod-stalker .logo {
    position: absolute;
    top: 50px;

    -webkit-transition: top 0.5s linear 0;
}
.fixed-header .mod-stalker .cssMenu {
    margin-left: 55px;

    /*-webkit-transition: margin-left 0.5s linear 0.5s;*/
}
.fixed-header .mod-stalker .logo {
    top: 0;

    /*-webkit-transition: top 0.5s linear 0;*/
}

/***************************
 * Module sitenav
 ***************************/
/*.mod-sitenav {
    margin-top: 15px;
}
.mod-sitenav .triangle-down {
    bottom: 15px;
}

.mod-sortcontrol .curr-sort {
    color: #666666;
    font-family: "helvetica neue";
    font-size: 10px;
    font-weight: bold;
    padding: 20px 0;
    text-transform: uppercase;
}
.mod-sortcontrol .triangle-down {
    bottom: 1px;
    margin-left: 10px;
}

.mod-zipcode .curr-zip {
    padding: 20px 0;
}
.mod-zipcode .triangle-down {
    bottom: 0;
    margin-left: 10px;
}*/