/**
 * eventually, we'll have a .featuredtoday.lifestyle here too, which will show more pretty images
 */

.featuredtoday.product,
.featuredtoday.lifestyle {
    background: #ffffff;
    border: 1px solid #cdcdcd;
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    height: 160px;
    margin: 3px 15px 15px 3px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 300px;

    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;

}

.featuredtoday.product .hd {
    background: #0ea0e0;
    color: #ffffff;
    font-size: 76.9%;
    font-weight: bold;
    padding: 8px 0 5px 13px;
    text-transform: uppercase;

    -webkit-border-top-right-radius: 6px;
       -moz-border-radius-top-right: 6px;
            border-top-right-radius: 6px;

    -webkit-border-top-left-radius: 6px;
       -moz-border-radius-top-left: 6px;
            border-top-left-radius: 6px;
}

.featuredtoday.product .bd {
    margin: 15px;
}

.featuredtoday.product .bd img {
    float: left;
    margin-right: 15px;
}

.featuredtoday.product .bd .right {
    float: left;
    overflow: hidden;
}

.featuredtoday.product h3,
.featuredtoday.lifestyle h3 {
    font-size: 123.1%;
    margin: 4px 0 2px 0;
    font-weight: bold;
    color: #444444;
}

.featuredtoday.product .bd p {
    color: #777777;
    font-size: 123.1%;
    font-weight: bold;
    text-transform: uppercase;
}

.featuredtoday.product .bd button.cta-3d {
    margin-top: 25px;
}

.featuredtoday.lifestyle img {
    border: none;
    outline: none;

    -webkit-border-top-right-radius: 6px;
       -moz-border-radius-top-right: 6px;
            border-top-right-radius: 6px;

    -webkit-border-top-left-radius: 6px;
       -moz-border-radius-top-left: 6px;
            border-top-left-radius: 6px;
}

.featuredtoday.lifestyle p {
    color: #8fc73d;
    font-size: 76.9%;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 6px;
    text-transform: uppercase;
}

.featuredtoday.lifestyle h3 {
    margin-left: 15px;
}

.featuredtoday.lifestyle button {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 49px;
    border: 1px solid #099fdf;
    background: red;

    background: #069ddf;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7acbee), color-stop(100%,#069ddf));
    background: -webkit-linear-gradient(top, #7acbee 0%,#069ddf 100%);
    background:    -moz-linear-gradient(top, #7acbee 0%, #069ddf 100%);
    background:     -ms-linear-gradient(top, #7acbee 0%,#069ddf 100%);
    background:      -o-linear-gradient(top, #7acbee 0%,#069ddf 100%);
    background:         linear-gradient(to bottom, #7acbee 0%,#069ddf 100%);

    box-shadow: inset 0 1px #ffffff;

    -webkit-border-bottom-right-radius: 6px;
       -moz-border-radius-bottom-right: 6px;
            border-bottom-right-radius: 6px;

}

.featuredtoday.lifestyle button div {
    border-color: transparent transparent transparent #ffffff;

    border-style: solid;
    border-width: 5px 8px;
    font-size: 0;
    height: 0;
    width: 0;
    position: relative;
    margin: 0 auto;

    left: 5px;

}

.featuredtoday.lifestyle h3  {
    margin-top: 2px;
}
