.mod-ads {
    overflow: hidden;
}
.mod-ads.container-728x90 {
    width: 78%;
    margin: auto;
    display: block;
    margin-top: 20px;
}
.mod-gallery .mod-ads.container-300x250 {
    margin: 0 3px;
    padding-top: 4px;
}
.mod-gallery .mod-ads.container-620x115 {
    margin-left: 4px;
    margin-top: 10px;
    margin-bottom: -10px;
}
.mod-gallery .mod-ads.container-620x115 iframe {
    border-radius: 6px;
    margin: 0 20px 20px 0;
}
.mod-ads.container-300x160 {
    margin-top: 15px;
}
