.mod-recipe img {
    border: 1px solid #CDCDCD;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.mod-gallery {
	padding-top: 25px;
	padding-bottom: 25px;
}

.mod-gallery h1 {
	color: #333;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 25px;
}