.mod-gallery {
    padding-top: 30px;
}
.mod-gallery .mrec,
.mod-gallery .house-ad {
    height: 250px;
    width: 300px;
    /*margin: 12px 6px 6px 12px;*/
}

.mod-gallery .tools {
    padding: 11px 0;
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;

    height: 20px;
    background: #ebebea;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 6px 6px 0 0;
}
.mod-gallery .tools.inactive {
    background-color: rgba(53, 151, 211, 0.75);
}
.mod-gallery .selectall {
    display: inline;
    padding: 0 20px 0 20px;

    border-right: 1px solid #CCCBCB;
    box-shadow: 1px 0 #FFFFFF;
}
.mod-gallery .selectall-chk,
.mod-gallery .selectall label {
    cursor: pointer;
}
.mod-gallery .selectall label {
    margin-left: 4px;

    font-weight: normal;
    font-size: 14px;
    color: #333;
}
.mod-gallery .tools .goto-top {
    padding: 0 25px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    color: #333;

    /*border-right: 1px solid #DFD9B7;
    box-shadow: 1px 0 #FFFFFF;*/
}
.mod-gallery .goto-top .triangle-top {
    margin-right: 8px;
    border-color: transparent transparent white transparent;
    bottom: 9px;
    border-width: 9px 6px;
}
.mod-gallery .loading-indicator,
.mod-gallery .page-break {
    clear: both;
    text-align: center;
}
.mod-gallery .loading-indicator p,
.mod-gallery .page-break {
    font-size: 92.3%;
    font-weight: bold;
    color: #08b4df;
}
.mod-gallery .loading-indicator p {
    padding-top: 2em;
    padding-bottom: 1em;
}
.mod-gallery .page-break {
    padding-top: 2em;
    padding-bottom: 0.5em;
}

/**
 * page tile or category segment label
 */
 .mod-gallery .seg-label {
     margin: 0 0 15px 5px;
 }
.mod-gallery .seg-label h2 {
    color: #444;
    font-size: 18px;
    font-weight: bold;
}
.mod-gallery .seg-label h1 {
    color: #08B4DF;
    font-size: 24px;
    font-weight: bold;
}
.mod-gallery .seg-label span {
    font-weight: normal;
}
/**
 * "Show more" button
 */
.mod-gallery .more {
    text-align: center;
    width: 940px;
}
.mod-gallery .more button {
    margin: 12px auto 20px auto;
    padding: 9px;
    width: 900px;
    cursor: pointer;
}

/* Pod spacing */
.mod-gallery .pod {
    position: relative;
    margin: 3px 15px 15px 3px;
}
