.mod-miscellaneous {
    background: #f3ebe0;

    -webkit-box-shadow: 0px 2px 8px rgba(50, 50, 50, 0.5);
       -moz-box-shadow: 0px 2px 8px rgba(50, 50, 50, 0.5);
            box-shadow: 0px 2px 8px rgba(50, 50, 50, 0.5);
}
.mod-miscellaneous .content {
    margin: 30px auto 0 auto;
    max-width: 980px;
    padding-top: 30px;
}
.mod-miscellaneous .promos li {
    margin-left: 18px;
    max-width: 220px;
    text-align: left;
    vertical-align: top;
}
.mod-miscellaneous .promos img {
    /*border: 1px solid #c9c9c9;*/
    margin-bottom: 20px;
}
.mod-miscellaneous .promos h3 {
    margin-bottom: 5px;
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #444444;
    font-size: 16px;
}
.mod-miscellaneous .promos p {
    margin-bottom: 12px;
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    color: #777777;
    font-size: 12px;
    line-height: 17px;
}
.mod-miscellaneous .promos input,
.mod-miscellaneous .promos button {
    display: block;
    margin-bottom: 8px;
}
.mod-miscellaneous .promos button,
.mod-miscellaneous .promos a.cta-link {
    background: #069ddf;
    background: -moz-linear-gradient(top, #ffffff 0%, #7acbee 2%, #069ddf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(2%,#7acbee), color-stop(100%,#069ddf));
    background: -webkit-linear-gradient(top, #ffffff 0%,#7acbee 2%,#069ddf 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#7acbee 2%,#069ddf 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#7acbee 2%,#069ddf 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#7acbee 2%,#069ddf 100%);
    border: 1px solid #099FDF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    width: 80px;
    line-height: 20px;
    display: block;
    vertical-align: middle;
}
.mod-miscellaneous .promos button:hover,
.mod-miscellaneous .promos a:hover {
    cursor:pointer;
}
.mod-miscellaneous .promos p > a {
    color: #777;
    text-decoration: none;
}
.mod-miscellaneous .promos p > a:hover {
    text-decoration: underline;
}
.mod-miscellaneous .promos a.cta-link {
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}
.mod-miscellaneous .bottom {
    margin-top: 30px;
    height: 30px;
}
.mod-miscellaneous .sitemap {
    margin-top: 7px;
}
.mod-miscellaneous .bottom a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444444;
    font-size: 12px;
    margin: 0 10px;
    font-weight: normal;
    text-transform: capitalize;
    text-decoration: none;
}

.mod-fblike {
    display: inline-block;
    background-color: transparent;
    margin-left: 10px;
    vertical-align: middle;
}
