.mod-categories {
    position: relative;
}
.mod-categories .curr-category {
    padding: 20px 0;
}
.mod-categories .triangle-down {
    bottom: 0;
    margin-left: 10px;
}
.mod-categories .all-categories {
    background: none repeat scroll 0 0 #EBEBEA;
    height: 0;
    margin-left: -16px;
    overflow: hidden;
    padding-left: 25px;
    position: absolute;
    top: 60px;
    white-space: nowrap;
    border: 1px solid #CCCBCB;
    border-top-width: 0;
    box-shadow: 1px 0 #FFFFFF inset;


    -webkit-transition: height 1s, border-top-width 1s; /* Safari and Chrome */
         -o-transition: height 1s, border-top-width 1s; /* Opera */
            transition: height 1s, border-top-width 1s;
}
.mod-categories:hover .all-categories {
    height: 150px;
    border-top-width: 1px;

}

.mod-categories .all-categories ul {
    display: inline-block;
    margin-right: 25px;
    vertical-align: top;
}
.mod-categories li a {
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #08B4DF;
    font-size: 12px;
    line-height: 2.2em;
}
.mod-categories li.selected a .title {
    font-weight: bold;
}
.mod-categories li a:hover {
    text-decoration: underline;
}
.mod-categories li.selected a {
    color: #444;
}

