.mod-categories {
    position: relative;
    padding: 0 15px;
}
.mod-categories .curr-category {
    color: #666666;
    font-family: "helvetica neue";
    font-size: 10px;
    font-weight: bold;
    padding: 20px 0;
    text-transform: uppercase;
}
.mod-categories .triangle-down {
    bottom: 1px;
    margin-left: 10px;
}
.mod-categories .all-categories {
    background: #dddad5;
    height: 0;
    margin-left: -15px;
    overflow: hidden;
    padding-left: 15px;
    position: absolute;
    top: 50px;
    white-space: nowrap;


    -webkit-transition: height 1s; /* Safari and Chrome */
         -o-transition: height 1s; /* Opera */
            transition: height 1s;
}
.mod-categories:hover .all-categories {
    height: 150px;
    border-top-width: 1px;

}

.mod-categories .all-categories ul {
    display: inline-block;
    margin-right: 25px;
    margin-top: 10px;
    vertical-align: top;
}
.mod-categories li a {
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 2.2em;
    font-weight: bold;
    color: #666;
}
.mod-categories li.selected a .title {
    font-weight: bold;
}
.mod-categories li a:hover {
    text-decoration: underline;
}
.mod-categories li.selected a {
    color: #444;
}

