.pod {
    background: none repeat scroll 0 0 #FFFFFF;
    cursor: pointer;
    height: 160px;
    width: 300px;
    border: 1px solid #CDCDCD;

    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;

    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2), 0 -4px 0 #E8E8E8 inset;
       -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2), 0 -4px 0 #E8E8E8 inset;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2), 0 -4px 0 #E8E8E8 inset;
}

.pod .hover {
    background-color: rgba(255, 255, 255, 0.75);
    font-family: 'RockSaltRegular';
    height: 155px;
    width: 292px;
    margin-left: 5px;
    visibility: hidden;
    position: absolute;
    text-transform: lowercase;
    overflow: hidden;
}
.pod .circle {
    background-repeat: no-repeat;
    background-position: 30px 23px;
    height: 120px;
    width: 295px;
    margin-top: 15px;
    position: absolute;
}
.pod.cpc .circle,
.pod.video .circle,
.pod.duet .circle {
    background-repeat: no-repeat;
    background-position: 18px -88px;
    height: 140px;
    width: 295px;
    position: absolute;
}

.pod:hover .hover{
    visibility: visible;
}
.pod .hover p {
    transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    color: #222222;
    font-size: 1.53em;
    text-align: center;
}
.pod .hover p.click-text {
    margin-top: 18%;
}
.pod .hover p.click-text-sec {
    font-size: 1em;
}

/* Hide default clipped-container */
.pod .clipped-container {
    display: none;
}

.pod .left {
    float: left;
    overflow: hidden;
    width: 37%;
    height: 160px;

}
.pod .right {
    float: right;
    overflow: hidden;
    width: 63%;
    height: 160px;
}
.pod .pod-media {
    height: 100px;
    margin: 24px auto auto;
    width: 80px;
}

.pod .pod-info {
    margin: 15px 15px 0px 0px;
}
.pod .right .pod-info .summary {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #08B4DF;
    font-size: 16px;
    text-transform: uppercase;
}
.pod .right .pod-info .brand {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #444444;
    font-size: 16px;
}
.pod .right .pod-info .details {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #777777;
    font-size: 13px;
    line-height: 16px;
}

/* Premium pod */
.pod .premium-label {
    position: absolute;
    top: -3px;
    left: -3px;
    padding:6px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 9px;
    text-transform: uppercase;
    z-index: 1;
    background: #b71c16;
    border-radius: 6px;

    display: none;
}
.pod.premium .premium-label {
    display: block;
}
.video-close-effects-transfer,
.video-close-effects-transfer-clipped {
    background: #FFFFFF;
    border: 1px solid #CDCDCD;

    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.pod .clipped-container span.unclip-action {
    border-right: 1px solid #36799F;
}

.pod .clipped-container span.share-box {
    border-right: 1px solid #36799F;
}

/* right border for share box */
.pod .clipped-container span.share-box {
    border-right: 1px solid #6A6A6A;
}

/* Savings club */

.pod.premium .right .pod-info .summary {
    color: #b71c16;
}

.pod.premium .clipped-container span.unclip-action {
    border-right: 1px solid #A11919;
}

.pod.premium .clipped-container span.share-box {
    border-right: 1px solid #A11919;
}

/* Limit reached */
.pod.limited .hover {
    display: none;
}

.pod.limited .right .pod-info .summary {
    color: #6A6A6A;
}

.pod.limited .clipped-container {
    display: block;
    background-position: 0 -738px;
}

.pod.limited .clipped-container span.clip-box {
    margin-left: 25px;
    letter-spacing: 2px;
}

/* Clipped State */
.pod.clipped,
.pod.limited {
   box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.pod.clipped .hover {
    display: none;
}

.pod.clipped:hover .left,
.pod.limited:hover .left{
    opacity: 0.30;
    filter: alpha(opacity = 70);
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";*/
}
.pod.clipped:hover .right,
.pod.limited:hover .right {
    opacity: 0.34;
    filter: alpha(opacity = 70);
   /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";*/
}

.pod.clipped .right .pod-info .summary {
    color: #6A6A6A;
}

.pod.clipped .clipped-container,
.pod.limited .clipped-container{
    background-image: url("//cdn.cpnscdn.com/static.coupons.com/Sites/img/urban/sprite_pod_2.png");
    color: white;
    display: block;
    font: 0.923em/35px "RockSaltRegular";
    height: 32px;
    position: absolute;
    margin-top: 116px;
    vertical-align: middle;
    width: 300px;
}

.pod.clipped .clipped-container {
    background-position:0 -478px;
}

.pod.clipped .clipped-container .clipped-view,
.pod.limited .clipped-container .clipped-view {
    height: 40px;
    overflow: hidden;
    width: 100px;
}

.pod.limited .clipped-container .clipped-view {
    width: 175px;
}

.pod.clipped .clipped-container span.box,
.pod.limited .clipped-container span.box{
    display: inline-block;
    letter-spacing: 2px;
    line-height: 18px;
    padding: 0 9px;
    text-align: right;
}

/* Premium Pods */

.pod.premium.clipped .clipped-container {
    background-position: 0 -611px;
}

.pod.clipped.premium:hover .clipped-container {
    color: #A11919;
}

.pod.clipped .clipped-container span.clip-action {
    display: inline-block;
}

.pod.clipped:hover .clipped-container span.clip-action {
    display: none;
}

.pod.clipped .clipped-container span.unclip-action {
    display: none;
}

.pod.clipped:hover .clipped-container span.unclip-action {
    display: inline-block;
}

/* Share box effects */

.pod.clipped .clipped-container .share-box .social-container,
.pod.clipped .clipped-container .more-box .more-container,
.pod.limited .clipped-container .share-box .social-container,
.pod.limited .clipped-container .more-box .more-container{
    background-color: white;
    display: none;
    height: 109px;
    left: 2px;
    position: absolute;
    text-align: left;
    top: -109px;
    width: 296px;
}

.pod.clipped .clipped-container .more-box .more-container{
    color: black;
}
/* Hover */
.pod.clipped:hover .clipped-container .clipped-view,
.pod.limited:hover .clipped-container .clipped-view{
    width: 100%;
}

.pod.clipped:hover .clipped-container {
    color: #36799F;
}

.pod.limited:hover .clipped-container {
    color: #6A6A6A;
}

/* soapbar hovers */
.pod.clipped .clipped-container span:hover,
.pod.limited .clipped-container span:hover{
    color: white;
}

.pod.clipped.show-share .share-box .social-container,
.pod.clipped.show-more .more-box .more-container,
.pod.limited.show-share .share-box .social-container,
.pod.limited.show-more .more-box .more-container{
    display: block;
}

.pod.show-share:hover .left,
.pod.show-share:hover .right,
.pod.show-more:hover .right,
.pod.show-more:hover .left {
    opacity: 0;
}

/* Limit Hover states */
.pod.limited:hover .clipped-container .clipped-view .limit-action{
    display: none;
}

.pod.limited:hover .clipped-container .clipped-view .box.empty {

    padding-right: 95px;
}

.pod .clipped-container .share-box .social-container .social-message{
    color: #6A6A6A;
    font: bold 1.23em Arial;
    margin: 0px 0px 0px 20px;
    padding-top: 10px;
    text-shadow: none;
    letter-spacing: 0px;
}

.pod .clipped-container .share-box .social-container .social-strip{
    height: 50px;
    margin-top: 20px;
}

.pod .clipped-container .share-box .social-container .social-strip div{
    float: left;
    height: 35px;
    margin: auto auto auto 45px;
    width: 35px;
    background: transparent url("//cdn.cpnscdn.com/static.coupons.com/Sites/img/urban/sprite_pod_2.png") no-repeat;
}

.pod .clipped-container .share-box .social-container .social-strip div.facebook{
    background-position: 0px -852px;
}

.pod .clipped-container .share-box .social-container .social-strip div.twitter{
    background-position: 0px -961px;
}

.pod .clipped-container .share-box .social-container .social-strip div.email{
    background-position: 0px -1070px;
}

.pod .clipped-container .share-box .social-container .social-strip div.facebook:hover{
    background-position: 0 -798px;
}

.pod .clipped-container .share-box .social-container .social-strip div.twitter:hover{
    background-position: 0px -907px;
}

.pod .clipped-container .share-box .social-container .social-strip div.email:hover{
    background-position: 0px -1016px;
}

/* CTA */
.cta-3d.promo-button {
    margin-top: 20px;
    letter-spacing: 0px;
}

.promo-unit {
    margin: 10px 20px 0px 20px;
}

.pod .clipped-container .more-box .more-container h4{
    color: #6A6A6A;
    font: bold 1.23em Arial;
    text-shadow: none;
    letter-spacing: 0px;
}

.pod .clipped-container .more-box .more-container span {
    padding: 0px;
}

.pod .clipped-container .more-box .more-container span:hover {
    color: #444444;
}

@font-face {
    font-family: "SpriteFont";
    font-style: normal;
    font-weight: normal;
    src: url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/icomoon.eot");
    src: url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/icomoon.eot?#iefix") format("embedded-opentype"),
         url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/icomoon.woff") format("woff"),
         url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/icomoon.ttf") format("truetype"),
         url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/icomoon.svg#RockSaltRegular") format("svg");
}

/* Local pod styling */
i {
    font-family: SpriteFont;
    font-size: 16px;
    margin-right: 4px;
    font-style: normal;
}

/* Disable CPC pod sharing on Limited CPC states */
.pod.cpc.limited .share-box {
    visibility: hidden;
}

.pod .hover p.info {
    margin: 30px 0 0 214px;
    position: absolute;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    color: #36799F;
    font-size: 0.923em;
    letter-spacing: 2px;
    font-size-adjust: normal;
    text-transform: none;
}

.pod.video .hover p.info {
    margin: 25px 0 0 214px;
}
