.mod-hero {
    height: 272px;
    background-color: #75A734;
}
.mod-discoverybar {
    background-color: #E8E6E1;
}
.mod-couponcarrier {
    background-color: #FDF7D7;
}
.pod {
    background: #ddd;
    float: left;
    height: 150px;
    margin: 5px 10px;
    width: 300px;
}

