.mod-footer {
    margin-top: 10px;
}
.mod-footer .endorsements {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.mod-footer .truste {
    background-position: 0 -133px;
    height: 37px;
    width: 90px;
}
.mod-footer .bbb {
    background-position: 0 -84px;
    height: 34px;
    width: 90px;
}
.mod-footer .endorse {
    display: block;
    margin-left: 0.5em;
}
.mod-footer .ft {
    background: none repeat scroll 0 0 #FAF9F5;
    color: #888888;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin: 0 auto;
    max-width: 980px;
    padding-left: 20px;
    padding-top: 8px;
}
.mod-footer .ft a {
    color: #888888;
}
