
body {
    background: url("//cdn.cpnscdn.com/static.coupons.com/Sites/img/bigblue/body_bg.png") repeat-y scroll 50% 0 transparent;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    margin: 0;
}
#header {
    background-color: #FFFFFF;
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 2;
}
.wrapper {
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0 5px;
    width: 970px;
}
#content {
    margin: 0 auto;
    width: 100%;
    z-index: 1;
}
#main {
    float: left;
    margin-right: 5px;
    width: 100%;
    background: #faf9f5;
}
#footer {
    clear: both;
    margin: 0 auto;
    width: 100%;
}
.fixed-header .mod-stalker {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50%;
    margin-left: -370px;
}
.toolbarBodyShift.fixed-header .mod-stalker {
    top: 34px; /* toolbar height */
}
