
body {
    background: url("//cdn.cpnscdn.com/static.coupons.com/Sites/img/bigblue/body_bg.png") repeat-y scroll 50% 0 transparent;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    margin: 0;
}
#header {
    background-color: #FFFFFF;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.wrapper {
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0 5px;
    width: 970px;
}
#content {
    margin: 0 auto;
    width: 100%;
    z-index: 1;
}
#main {
    float: left;
    margin-right: 5px;
    width: 100%;
}
#footer {
    clear: both;
    margin: 0 auto;
    width: 100%;
}
@font-face {
    font-family: "MuseoSans";
    font-style: normal;
    font-weight: bold;
    src: url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/MuseoSans_700-webfont.eot?#iefix") format("embedded-opentype"), url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/MuseoSans_700-webfont.svg#webfontkQkWxTED") format("svg"), url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/MuseoSans_700-webfont.woff") format("woff"), url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/MuseoSans_700-webfont.ttf") format("truetype");
}
.mod-stalker {
    background-color: #FDF7D7;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    padding: 13px;
    width: 740px;
    border-radius: 0 0 7px 7px;
}
.fixed-header .mod-stalker {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50%;
    margin-left: -370px;
}
/*.fixed-header .mod-gallery {
    margin-top: 83px;
}*/