.mod-savingsclub {
    border: 1px solid #CDCDCD;
    position: relative;
    margin: 12px 6px 6px 12px;
    width: 300px;

    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;

    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
/* inside */


/* size-3: ModuleSize_Long */
.mod-savingsclub.size-3 .shadow {
    min-height: 112px;
}
.mod-savingsclub.size-3 .inner {
    min-height: 90px;
}
.mod-savingsclub.size-3 .img {
    float: left;
}
.mod-savingsclub.size-3 .image {
    border-radius: 6px 0 0 6px;
    height: 112px;
    margin-top: -8px;
}
/* size-4: ModuleSize_Grid */
.mod-savingsclub.size-4 {
    height: 160px;
    width: 300px;
}
.mod-savingsclub.size-4 .img img {
    border-radius: 6px 6px 0 0;
    width: 300px;
    height: 100px;
}
.mod-savingsclub.size-4 .bd {
    padding: 10px 15px 15px;
    position: relative;
}
